<h1>Movies to Watch</h1>

<ul>
    <!-- loop through movies object, for each movie in the object its going to create a list item with the id of the movie and the title -->
    {{#each movies}}
    <li>
        <p>{{this.id}}. {{this.movie}}</p>
        <form action="/delete?_method=DElETE" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">DELETE</button>
        </form>
    </li>
    {{/each}}
</ul>

<h2>Add A Movie to Watch</h2>
<
<form method="POST" action="/create">
    <textarea type="text" name="movie"></textarea>
    <button type="submit">SAVE MOVIE</button>
</form>

<h2>Update a Movie</h2>
<!-- action "" is how we use the PUT method in html -->
<form method="POST" action="/update?_method=PUT">
    <input type="text" name="id" placeholder="id">
    <textarea type="text" name="movie" placeholders="What do you want to update this movie to?"></textarea>
    <button type="submit">UPDATE MOVIE</button>
</form>